
div.container
{
width:100%;
margin:0px;
border:1px solid gray;
line-height:150%;
}
h1.header
{
padding:0;
margin:0;
}
div.left
{
float:left;
width:160px;
margin:0;
padding:1em;
}
div.content
{
margin-left:190px;
border-left:1px solid gray;
padding:1em;
}

ul
{
list-style-type:none; /* Removes the bullets. */

/* Remove browser default settings */
margin:0;
padding:0;
}

a:link,a:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#626665;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
}
a:hover,a:active
{
background-color:black;
}